#ballZone {
    width: 96%;
    margin: 2%;
    text-align: center;
}

#additionZone {
    width:30%;
    margin: 0 auto;
    text-align: center;
    font-size: xx-large;
}

#startZone {
    padding-top: 2%;
    margin: 0 auto;
    text-align: center;
    font-size: xx-large;
}

#resultZone {
    padding-top: 2%;
    margin: 0 auto;
    text-align: center;
    font-size: xx-large;
    width: 40%;
}
