#ballZone {
    background-color: red;
    width: 96%;
    margin: 2%;
    text-align: center;
}

#additionZone {
    background-color: blue;
    width:30%;
    margin: 0 auto;
    text-align: center;
}
